<div class="container">
<table class="tableClass">
    <tr>
        <th>
            medicine name
        </th>
        <th>
            expiry date
        </th>
        <th>
            quantity
        </th>
        <th>
            price
        </th>
        <th>
            discount
        </th>
        <th>
            final price
        </th>
        <th>
            Edit quantity
        </th>
        <th>
            Remove
        </th>
    </tr>
    <tr *ngFor='let item of cartbillingData'>
        <td>
            {{item.MedicineName}}
        </td>
        <td>
            {{item.ExpiryDate}}
        </td>
        <td>
            {{item.Quantity}}
        </td>
        <td>
            {{item.RetailPrice}}
        </td>
        <td>
            {{item.Discount}} %
        </td>
        <td>
            {{item.finalprice}}
        </td>
        <td>
            <input type="number" min="1" max="5" (click)="addClick(item,$event)"
             id="txtInputQuantity" class="form-control"
             placeholder="1" value={{item.Quantity}}>
        </td>
        <td>
            <button type="button" class="btn btn-success" (click)="onRemoveClick(item)"
             >Remove</button>
        
        </td>
    </tr>
</table>
</div>