<table class="tableClass">
    <tr>
        <th>
            medicine name
        </th>
        <th>
            expiry date
        </th>
        <th>
            quantity
        </th>
        <th>
            price
        </th>
        <th>
            discount
        </th>
        <th>
            final price
        </th>
        <th>
            Edit quantity
        </th>
        <th>
            Remove
        </th>
    </tr>
    <tr *ngFor='let item of cartbillingData'>
        <td>
            {{item.MedicineName}}
        </td>
        <td>
            {{item.ExpiryDate}}
        </td>
        <td>
            {{item.Quantity}}
        </td>
        <td>
            {{item.RetailPrice}}
        </td>
        <td>
            {{item.Discount}} %
        </td>
        <td>
            {{item.finalprice}}
        </td>
        <td>
            <button type="button" class="btn AddButton" (click)="addClick()"
            >+</button>
            <input type="text" style="width: 60px; height: 40px; font-weight: bold;"
             id="txtInputQuantity" 
             placeholder="1" value={{item.Quantity}}>
            <button type="button" class="btn AddButton" (click)="minusClick()"
            >-</button>
        </td>
        <td>
            <button type="button" class="btn btn-success"
            style="width:60px;" >Remove</button>
        
        </td>
    </tr>
</table>