<div class="topnav">
  <a class="nav-link" href="#">My First Project</a>
  <a class="active" [routerLink]='["/home"]' id="home" routerLink="home" >Home</a>
  <a class="nav-link" [routerLink]='["/home"]' id="newPage" routerLink="home" 
  >
     Cart
  </a>
  <div *ngIf="loggedUser" class="topnav-right">
    <a href="#" style="color: white;">Welcome {{UserName}} 
      </a>
  </div>
  <div class="topnav-right">
    <a *ngIf="!loggedUser" class="nav-link" [routerLink]='["/login"]' id="login" routerLink="login" 
    >
      Login
    </a>
    <a *ngIf="loggedUser" class="nav-link" href="#" (click)="logOut()"
    >
      LogOut
    </a>
    <a class="nav-link"
    [routerLink]='["/profile"]' id="newPage" routerLink="profile"  >
    <img src="../assets/profile.png" style="height: 25px; margin-top: -5px;" alt="Los Angeles">
    </a>
  </div>
</div>
<br>