/* You can add global styles to this file, and also import other style files */
  
  /*-------------------------Progress Bar--------------------------------*/
  .imgSize {
    width: 30px;
    margin-right: -10px;
  }
  
  .imgarrowSize {
    width: 50px;
    height: 10px;
    margin-right: -10px;
  }
  
  .rowSize {
    width: 70%;
    text-align: center !important;
  }
  
  .imgtd {
    min-width: 150px;
  }
  
  .arrowtd {
    min-width: 50px;
  }
  
  .classhr {
    border-top: 1px dashed red;
    border-bottom: none;
  }
  
  /* Step Progress bar */
  
  .bs-wizard {
    margin-top: 5px;
    width: 100%;
  }
  
  
  /*Form Wizard*/
  
  .bs-wizard {
    border-bottom: solid 1px #e0e0e0;
    padding: 0 0 10px 0;
    border-bottom: 0;
    text-align: center;
  }
  
  .bs-wizard>.bs-wizard-step {
    padding: 0;
    position: relative;
  }
  
  .bs-wizard>.bs-wizard-step .bs-wizard-stepnum {
    color: #595959;
    font-size: 14px;
  }
  
  .bs-wizard>.bs-wizard-step .bs-wizard-info {
    color: #999;
    font-size: 14px;
    margin-top: 30px;
    margin-left: 30px;
    font-weight: bolder;
  }
  
  .bs-wizard>.bs-wizard-step>.bs-wizard-dot {
    position: absolute;
    width: 40px;
    height: 40px;
    display: block;
    text-align: center;
    background: #0071c5;
    top: 5px;
    left: 50%;
    margin-top: 10px;
    border-radius: 50%;
  }
  
  .bs-wizard>.bs-wizard-step>.bs-wizard-dot>.bs-i {
    width: 30px;
    color: white;
    margin-top: 12px;
  }
  
  .bs-wizard>.bs-wizard-step>.progress {
    position: relative;
    border-radius: 0px;
    height: 8px;
    box-shadow: none;
    margin: 30px 0;
    background-color: #ccc;
  }
  
  .bs-wizard>.bs-wizard-step>.progress>.progress-bar {
    width: 0px;
    box-shadow: none;
    background: #0071c5;
  }
  
  .bs-wizard>.bs-wizard-step.complete>.progress>.progress-bar {
    width: 100%;
  }
  
  .bs-wizard>.bs-wizard-step.active>.progress>.progress-bar {
    width: 50%;
  }
  
  .bs-wizard>.bs-wizard-step:first-child.active>.progress>.progress-bar {
    width: 0%;
  }
  
  .bs-wizard>.bs-wizard-step:last-child.active>.progress>.progress-bar {
    width: 100%;
  }
  
  .bs-wizard>.bs-wizard-step.disabled>.bs-wizard-dot {
    background-color: #ccc;
  }
  
  .bs-wizard>.bs-wizard-step.disabled>.bs-wizard-dot:after {
    opacity: 0;
  }
  
  .bs-wizard>.bs-wizard-step:first-child>.progress {
    left: 50%;
    width: 50%;
  }
  
  .bs-wizard>.bs-wizard-step:last-child>.progress {
    width: 50%;
  }
  
  .bs-wizard>.bs-wizard-step.disabled a.bs-wizard-dot {
    pointer-events: none;
  }